In [10]:
# remote.close()
import mysql.connector
remote = mysql.connector.connect(
    host = "database-1.*************.amazonaws.com", #insert sql path
    port = 3306,
    user = "eda",
    password = "**********",
    database= 'eda'
)
cur = remote.cursor(buffered=True)

In [9]:
sql = """ create table pop_reason
    as (select p.city, p.year, p.pop_sum,
    edu.0_19,edu.20_100, edu.예산,
    gdp.gdp,
    fp.pop_foreign,
    h.price, h.rent, h.count,
    w.요양기관수
        from population p, foreign_pop fp, education_money edu, gdp gdp, house h, welfare w
        where ( p.city=fp.city and p.city=edu.city and p.city=gdp.지역 and p.city=h.city and p.city=w.city) 
                and (p.year=fp.year and p.year=edu.year and p.year=gdp.년도 and p.year=h.year and p.year=w.year)
                and p.city in ('서울특별시','경기도') and p.month='12' 
                and (p.year between '2013'and '2022')
        )
        ; 
    """

cur.execute(sql)
# result = cur.fetchall()
# for line in result:
#     print(line)

remote.commit()

In [6]:
remote.close()

In [12]:
column=

('city', 'varchar(32)', 'YES', '', None, '')
('year', 'char(4)', 'YES', '', None, '')
('pop_sum', 'int', 'YES', '', None, '')
('0_19', 'int', 'YES', '', None, '')
('20_100', 'int', 'YES', '', None, '')
('예산', 'float', 'YES', '', None, '')
('gdp', 'int', 'YES', '', None, '')
('pop_foreign', 'int', 'YES', '', None, '')
('price', 'int', 'YES', '', None, '')
('rent', 'int', 'YES', '', None, '')
('count', 'int', 'YES', '', None, '')
('요양기관수', 'float', 'YES', '', None, '')

In [16]:
sql = """ create table seoul_pop_rate
as (SELECT
    city,
  year,
  
  (pop_sum - LAG(pop_sum, 1) OVER (ORDER BY year)) / LAG(pop_sum, 1) OVER (ORDER BY year) AS pop_sum_rate,
  (0_19 - LAG(0_19, 1) OVER (ORDER BY year)) / LAG(0_19, 1) OVER (ORDER BY year) AS 0_19_rate,
  (20_100 - LAG(20_100, 1) OVER (ORDER BY year)) / LAG(20_100, 1) OVER (ORDER BY year) AS 20_100_rate,
  (예산 - LAG(예산, 1) OVER (ORDER BY year)) / LAG(예산, 1) OVER (ORDER BY year) AS 예산_rate,
  (gdp - LAG(gdp, 1) OVER (ORDER BY year)) / LAG(gdp, 1) OVER (ORDER BY year) AS gdp_rate,
  (pop_foreign - LAG(pop_foreign, 1) OVER (ORDER BY year)) / LAG(pop_foreign, 1) OVER (ORDER BY year) AS pop_foreign_rate,
  (price - LAG(price, 1) OVER (ORDER BY year)) / LAG(price, 1) OVER (ORDER BY year) AS price_rate,
  (rent - LAG(rent, 1) OVER (ORDER BY year)) / LAG(rent, 1) OVER (ORDER BY year) AS rent_rate,
  (count - LAG(count, 1) OVER (ORDER BY year)) / LAG(count, 1) OVER (ORDER BY year) AS count_rate,
  (요양기관수 - LAG(요양기관수, 1) OVER (ORDER BY year)) / LAG(요양기관수, 1) OVER (ORDER BY year) AS 요양기관수_rate

  
FROM
  pop_reason
  where city='서울특별시'
    );    
        
    """

cur.execute(sql)
# result = cur.fetchall()
# for line in result:
#     print(line)

remote.commit()

In [18]:
sql = """ create table gyeonggi_pop_rate
as (SELECT
    city,
  year,
  
  (pop_sum - LAG(pop_sum, 1) OVER (ORDER BY year)) / LAG(pop_sum, 1) OVER (ORDER BY year) AS pop_sum_rate,
  (0_19 - LAG(0_19, 1) OVER (ORDER BY year)) / LAG(0_19, 1) OVER (ORDER BY year) AS 0_19_rate,
  (20_100 - LAG(20_100, 1) OVER (ORDER BY year)) / LAG(20_100, 1) OVER (ORDER BY year) AS 20_100_rate,
  (예산 - LAG(예산, 1) OVER (ORDER BY year)) / LAG(예산, 1) OVER (ORDER BY year) AS 예산_rate,
  (gdp - LAG(gdp, 1) OVER (ORDER BY year)) / LAG(gdp, 1) OVER (ORDER BY year) AS gdp_rate,
  (pop_foreign - LAG(pop_foreign, 1) OVER (ORDER BY year)) / LAG(pop_foreign, 1) OVER (ORDER BY year) AS pop_foreign_rate,
  (price - LAG(price, 1) OVER (ORDER BY year)) / LAG(price, 1) OVER (ORDER BY year) AS price_rate,
  (rent - LAG(rent, 1) OVER (ORDER BY year)) / LAG(rent, 1) OVER (ORDER BY year) AS rent_rate,
  (count - LAG(count, 1) OVER (ORDER BY year)) / LAG(count, 1) OVER (ORDER BY year) AS count_rate,
  (요양기관수 - LAG(요양기관수, 1) OVER (ORDER BY year)) / LAG(요양기관수, 1) OVER (ORDER BY year) AS 요양기관수_rate

  
FROM
  pop_reason
  where city='경기도' 
    );    
        
    """

cur.execute(sql)
# result = cur.fetchall()
# for line in result:
#     print(line)

remote.commit()

In [ ]:
remote.close()