In [1]:
import pandas as pd

In [11]:
factory_data=pd.read_csv("../data/factory_data/광역시·도별_공장규모현황_20240702110253_분석(전반기_대비_증감).csv",encoding='UTF-8')

In [34]:
factory_df=pd.DataFrame(factory_data)

In [35]:
factory_df.rename(columns= { 
                        factory_df.columns[0] : "city",
                        factory_df.columns[1] : "type",
                        factory_df.columns[2] : "date",
                        factory_df.columns[3] : "open"


                        }, inplace=True)

In [38]:
factory_df.insert(2,'year',factory_df['date'].str[:4])

In [40]:
factory_df.insert(3,'month',factory_df['date'].str[5:])

In [45]:
factory_df['month']=factory_df['month'].str.replace('1/2','01')
factory_df['month']=factory_df['month'].str.replace('2/2','07')

In [47]:
factory_df=factory_df.fillna(0)

In [48]:
factory_df.head()

  city type  year month      date  open
0    계  대기업  2006    01  2006.1/2   0.0
1    계  대기업  2006    07  2006.2/2  24.0
2    계  대기업  2007    01  2007.1/2 -37.0
3    계  대기업  2007    07  2007.2/2  23.0
4    계  대기업  2008    07  2008.2/2   0.0

In [49]:
factory_df.drop(columns=factory_df.columns[4], axis=1, inplace=True)

In [55]:
factory_df =factory_df.astype(dtype={factory_df.columns[4]:'int'},
                              errors='raise',
                              copy=True)

In [56]:
factory_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1149 entries, 0 to 1148
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   city    1149 non-null   object
 1   type    1149 non-null   object
 2   year    1149 non-null   object
 3   month   1149 non-null   object
 4   open    1149 non-null   int64
dtypes: int64(1), object(4)
memory usage: 45.0+ KB

factory_df생성완료

In [2]:
import mysql.connector

In [60]:
remote.close()
import mysql.connector
remote = mysql.connector.connect(
    host = "database-1.*******************8.amazonaws.com", #insert sql path
    port = 3306,
    user = "eda",
    password = "eda",
    database= 'eda'
)
cur = remote.cursor(buffered=True)

In [52]:
sql="""create table factory(

            city varchar(32),
            type varchar(8),
            year char(4), 
            month char(2),
            open int

            );"""
cur.execute(sql)
remote.commit()

In [62]:
sql="""insert into factory Values (%s,%s,%s,%s,%s)
"""
for i , row in factory_df.iterrows():
    cur.execute(sql,tuple(row))
    # print(tuple(row))
    remote.commit()

In [3]:
remote.close()

NameError: name 'remote' is not defined

db업로드 끝

In [64]:
len(factory_df['city'].unique())

18