In [ ]:
#%%
import folium.features
from selenium import webdriver
from selenium.webdriver.chrome.service import Service
from selenium.webdriver.chrome.options import Options
from selenium.webdriver.common.by import By
from bs4 import BeautifulSoup
import urllib
from urllib.request import urlopen
from urllib.request import Request
import pandas as pd
import time
import mysql.connector
import numpy as np
from tqdm.notebook import tqdm

import matplotlib.pyplot as plt
import seaborn as sns
import koreanize_matplotlib

from selenium.webdriver.common.keys import Keys
from selenium.webdriver.support.wait import WebDriverWait
from selenium.webdriver.support import expected_conditions as EC
from selenium.webdriver.common.action_chains import ActionChains

import folium
import folium.map
from folium import plugins
from folium.features import DivIcon
import json

In [ ]:
# %%지역별 독거노인 비율
older_people = pd.read_excel("../Data/독거노인가구비율.xlsx",thousands=',')

older_people.set_index('행정구역별', inplace=True)

older_people_sudogwun = older_people.loc[["서울특별시", "경기도","인천광역시"],'2021':'2022']

older_people_sudogwun

In [ ]:
# %%
plt.figure(figsize=(12,8))
sns.barplot(x="행정구역별", y= "2022", data=older_people_sudogwun, palette="Set3").set_title("행정구역별 독거노인 가구비율")
plt.xticks(rotation=90)
plt.xlabel("행정구역")
plt.ylabel("2022년 기준")
plt.grid()
plt.show()

In [ ]:
# %% 노인여가 복지시설 수
leisure_facilities = pd.read_excel("../Data/노인여가복지시설수.xlsx",thousands=',')
leisure_facilities.set_index('행정구역별', inplace=True)
leisure_facilities_sudogwun = leisure_facilities.loc[["서울특별시", "경기도","인천광역시"]]

#요양기관 수
nursing_institution= pd.read_excel("../Data/요양기관수_시도.xlsx",thousands=',')
nursing_institution.set_index('행정구역별', inplace=True)

nursing_institution_result = pd.DataFrame()
for i in range(2013,2023):
    nursing_institution_result[i] = nursing_institution[str(i)+".1/4"] + nursing_institution[str(i)+".2/4"]+ nursing_institution[str(i)+".3/4"]+ nursing_institution[str(i)+".4/4"]

nursing_institution_result_sudogwun = nursing_institution_result.loc[["서울특별시", "경기도","인천광역시"]]
plt.figure(figsize=(12,8))
sns.barplot(x="행정구역별", y= 2022, data=nursing_institution_result_sudogwun, palette="Set3")
plt.show()

In [ ]:
#%%
fig, ax=plt.subplots(1,2,figsize=(12,8))
sns.barplot(x="행정구역별", y= "2022", data=leisure_facilities_sudogwun, palette="Set3",ax=ax[0])
sns.barplot(x="행정구역별", y= 2022, data=nursing_institution_result_sudogwun, palette="Set3",ax=ax[1])

ax[0].set_title('행정구역별 노인여가복지시설수')
ax[0].set_ylabel('2022년 기준')
ax[1].set_title('행정구역별 요양기관수')
ax[1].set_ylabel('2022년 기준')
ax[0].tick_params(axis='x', rotation=90)
ax[1].tick_params(axis='x', rotation=90)

plt.grid()
plt.show()

In [ ]:
#%%
fig, ax=plt.subplots(1,2,figsize=(12,8))
leisure_facilities_sudogwun.transpose().plot(figsize=(12,8), grid=True,ax=ax[0])
nursing_institution_result_sudogwun.transpose().plot(figsize=(12,8), grid=True,ax=ax[1])

ax[0].set_title('행정구역별 노인여가복지시설수')
ax[0].set_ylabel('')
ax[1].set_title('행정구역별 요양기관수')
ax[1].set_ylabel('')

plt.show()

In [ ]:
# %%

In [ ]:
# %%지역별 청년고용률
young_people = pd.read_excel("../Data/청년고용률_시도.xlsx",thousands=',')

young_people.set_index('행정구역별', inplace=True)

young_people_sudogwun = young_people.loc[["서울특별시", "경기도","인천광역시"],'2021':'2022']

young_people_sudogwun

In [ ]:
# %%

In [ ]:
# %%
plt.figure(figsize=(12,8))
sns.barplot(x="행정구역별", y= "2022", data=young_people_sudogwun, palette="Set3").set_title("행정구역별 청년고용률")
plt.xticks(rotation=90)
plt.xlabel("행정구역")
plt.ylabel("2022년 기준")
plt.grid()
plt.show()

In [ ]:
# %%
founded_company = pd.read_excel("../Data/창업기업수_시도.xlsx",thousands=',')
founded_company.set_index('행정구역별', inplace=True)
founded_company_sudogwun = founded_company.loc[["서울특별시", "경기도","인천광역시"]]

wage = pd.read_excel("../Data/월평균_임금_및_임금상승률_시도.xlsx",thousands=',')
wage.set_index('행정구역별', inplace=True)
wage_sudogwun  =wage.loc[["서울특별시", "경기도","인천광역시"]]

In [ ]:
#%%
fig, ax=plt.subplots(1,2,figsize=(12,8))
sns.barplot(x="행정구역별", y= "2022", data=wage_sudogwun, palette="Set3",ax=ax[0])
sns.barplot(x="행정구역별", y= "2022", data=founded_company_sudogwun, palette="Set3",ax=ax[1])

ax[0].set_title('행정구역별 월평균 임금')
ax[0].set_ylabel('2022년 기준')
ax[1].set_title('행정구역별 창업 기업수')
ax[1].set_ylabel('2022년 기준')
ax[0].tick_params(axis='x', rotation=90)
ax[1].tick_params(axis='x', rotation=90)

plt.show()

In [ ]:
# %%
fig, ax=plt.subplots(1,2,figsize=(12,8))
wage_sudogwun.transpose().plot(figsize=(12,8), grid=True,ax=ax[0])
founded_company_sudogwun.transpose().plot(figsize=(12,8), grid=True,ax=ax[1])

ax[0].set_title('행정구역별 월평균 임금')
ax[0].set_ylabel('')
ax[1].set_title('행정구역별 창업 기업수')
ax[1].set_ylabel('')
ax[0].tick_params(axis='x', rotation=90)
ax[1].tick_params(axis='x', rotation=90)
plt.show()

In [ ]:
# %%지역별 유아천명당 보육시설수
kid = pd.read_excel("../Data/유아_천명당_보육시설수.xlsx",thousands=',')

kid.set_index('행정구역별', inplace=True)

kid_sudogwun = kid.loc[["서울특별시", "경기도","인천광역시"],'2021':'2022']

kid_sudogwun

In [ ]:
# %%
plt.figure(figsize=(12,8))
sns.barplot(x="행정구역별", y= "2022", data=kid_sudogwun, palette="Set3").set_title("행정구역별 유아천명당 보육시설수")
plt.xticks(rotation=90)
plt.xlabel("행정구역")
plt.ylabel("2022년 기준")
plt.grid()
plt.show()

In [ ]:
# %%
kid_baccine = pd.read_excel("../Data/인플루엔자_예방접종률_시도.xlsx",thousands=',')
kid_baccine.set_index('행정구역별', inplace=True)
kid_baccine_sudogwun =kid_baccine.loc[["서울특별시", "경기도","인천광역시"]]

kid_safe_accident = pd.read_excel("../Data/아동_십만명당_안전사고사망률_시도.xlsx",thousands=',')
kid_safe_accident.set_index('행정구역별', inplace=True)
kid_safe_accident_sudogwun = kid_safe_accident.loc[["서울특별시", "경기도","인천광역시"]]

fig, ax=plt.subplots(1,2,figsize=(12,8))
sns.barplot(x="행정구역별", y= "2022", data=kid_baccine_sudogwun, palette="Set3",ax=ax[0])
sns.barplot(x="행정구역별", y= "2022", data=kid_safe_accident_sudogwun, palette="Set3",ax=ax[1])

ax[0].set_title('행정구역별 인플루엔자 접종률')
ax[0].set_ylabel('2022년 기준')
ax[1].set_title('행정구역별 아동 10만명당 안전사고 사망률')
ax[1].set_ylabel('2022년 기준')
ax[0].tick_params(axis='x', rotation=90)
ax[1].tick_params(axis='x', rotation=90)

plt.show()

In [ ]:
# %%
fig, ax=plt.subplots(1,2,figsize=(12,8))
kid_baccine_sudogwun.transpose().plot(figsize=(12,8), grid=True,ax=ax[0])
kid_safe_accident_sudogwun.transpose().plot(figsize=(12,8), grid=True,ax=ax[1])

ax[0].set_title('행정구역별 인플루엔자 접종률')
ax[0].set_ylabel('')
ax[1].set_title('행정구역별 아동 10만명당 안전사고 사망률')
ax[1].set_ylabel('')
ax[0].tick_params(axis='x', rotation=90)
ax[1].tick_params(axis='x', rotation=90)
plt.show()

In [ ]:
# %%
df = pd.concat([older_people.loc[:,'2022'], 
                leisure_facilities.loc[:,'2022'],
                nursing_institution_result.loc[:,2022],
                young_people.loc[:,'2022'],
                founded_company.loc[:,'2022'],
                wage.loc[:,'2022'],
                kid.loc[:,'2022'],
                kid_baccine.loc[:,'2022'],
                kid_safe_accident.loc[:,'2022']
                ], axis=1)
df

In [ ]:
# %%
df.columns= ["독거노인 비율",
             "노인여가복지시설수",
             "요양기관수",
             "청년고용률",
             "창업기업수",
             "임금",
             "아동10만명당보육시설수",
             "인플루엔자예방접종률",
             "아동10만명당안전사고사망률"]
df

In [ ]:
# %%
plt.figure(figsize=(15,15))
sns.heatmap(data = df.corr(), annot=True, 
fmt = '.2f', linewidths=.5, cmap='Blues')

In [ ]:
# %%

In [ ]:
# %%
X = np.random.rand(100, 1) * 10 
X

In [ ]:
# %%
df = pd.DataFrame()
lst=[]
lst2=[]
lst3=[]

for i, value in nursing_institution_result_sudogwun.iterrows():
    
    for a in value:
        lst.append(i)
        lst3.append(a)
df["city"] =lst

for i in range(2012,2023):
    lst2.append(i)
for i in range(2012,2023):
    lst2.append(i)
df["year"] =lst2
df["welfare"] = lst3
df

In [ ]:
# %%

try:
    conn = mysql.connector.connect(
        host = "database-1.cneecum0ieie.ap-northeast-2.rds.amazonaws.com",
        port = 3306,
        user = "eda",
        password = "eda",
        database = "eda"
    )
    cursor = conn.cursor()

    sql="""create table welfare(
              city varchar(32),
              year int,
              창업기업수 float
              );"""
    cursor.execute(sql)
    conn.commit()
    sql="""insert into welfare Values (%s,%s,%s);"""
   
    
    for i, value in df.iterrows():
        cursor.execute(sql, tuple(value))
        print(value.name)
    conn.commit()
    
    cursor.execute("select * from welfare")

    for i in conn.fetchall():
        print(i)
    
    conn.close()
except Exception as e:
    print(e)
    conn.close()

In [ ]:
# %%
try:
    conn = mysql.connector.connect(
        host = "database-1.cneecum0ieie.ap-northeast-2.rds.amazonaws.com",
        port = 3306,
        user = "eda",
        password = "eda",
        database = "eda"
    )
    cursor = conn.cursor()

    cursor = conn.cursor(buffered=True)
    cursor.execute("select city, year, pop_sum from population where year = 2024 group by city, year;")

    population_result = cursor.fetchall()

    df = pd.DataFrame(population_result)
   
    conn.close()
    
except  Exception as e:
    print(e)
    conn.close()

In [ ]:
# %%
df.head()
df.drop(0, axis=0, inplace=True)
df

In [ ]:
# %%
df.columns = ["행정구역별", "년도", "인구수"]
df

In [ ]:
# %%
import json
state_geo = '../Data/TL_SCCO_CTPRVN.json'
state_geo

# 시도기준 경계 JSON 파일을 들고 온다.
with open(state_geo, encoding='utf-8') as file:
    sido_map = json.load(file)

sido_map['features'][5]['properties']

In [ ]:
#%%
m = folium.Map(location=[35.8, 128.071503], zoom_start=7,)

ch = folium.Choropleth(
    # geo json 파일로 sido_map 을 사용
    geo_data=sido_map,
    # choropleth 옵션을 쓸 것임
    name='choropleth',
    # data로는 population.csv 파일을 사용 (df로 불러옴)
    data=df,
    # csv 파일에서 사용할 컬럼 값
    columns=['행정구역별', '인구수'], 
    # 시도명 - CTP_KOR_NM 매핑
    key_on='feature.properties.CTP_KOR_NM',  
    # geo json 색깔 설정
    fill_color='YlGn',
    # 지도 투명하게  
    fill_opacity=0.7,
    # 경계선 투명하게
    line_opacity=1,  
    # 경계선 굵기
    line_weight=1.5,
    # 경계선 색
    line_color='#000',
    # 범례 이름
    legend_name='시도별 인구 수 (명)',  
    #  highlight=True, # 하이라이트 설정
).add_to(m)

m

In [ ]:
# %%
sido = df.copy()
sido.set_index("행정구역별", inplace=True)
sido

In [ ]:
#%%

locs = {
    '경기도': (37.95, 126.95),
    '서울특별시': (37.58, 126.7),
    '부산광역시':(35.198362, 129.053922),
    '경상북도':  (36.63, 128.46),
    '경상남도': (35.5, 128),
    '인천광역시':  (37.5, 125.8),
    '대구광역시': (35.96, 128.32),
    '충청남도': (36.69, 126),
    '전라남도':  (34.819400, 126.893113),
    '전라북도':  (35.86, 126.85),
    '대전광역시':   (36.321655, 127.378953),
    '강원도': (37.88, 128),
    '광주광역시': (35.28, 126.49),
    '울산광역시': (35.8, 129.5),
    '충청북도': (37.19, 127.50),
    '세종특별자치시':    (36.7, 127.07),
    '제주특별자치도':   (33.62, 126.11)
}

In [ ]:
# %%

for key, value in locs.items():
    인구수 = '{:,}'.format(int(sido.loc[key, '인구수']))
    folium.map.Marker(
        # 위경도 위치
        [value[0], value[1]],  

        # DivIcon 을 사용
        # html 태그를 이용해서 text를 올릴 수 있음
        icon=DivIcon(
            # icon px 사이즈
            icon_size=(0, 0),
            # icon 좌 상단 위치 설정
            icon_anchor=(0, 0),

            # html 형식으로 text 추가
            # div 태그 안에 style 형식 추가
            html='<div\
                    style="\
                        font-size: 1.3rem;\
                        color: red;\
                        background-color:rgba(255, 255, 255, 0.2);\
                        width:85px;\
                        text-align:center;\
                        margin:0px;\
                    "><b>'
            #+ key + ': ' + str(sido.loc[key, '인구수'])
            + key + ': ' + 인구수
            #+ "<br/><span style='color:red; margin: 0px;'>여성: "
            #+ str(df.loc[(key, '여자'), '인구수']) + '</span>'
            #+ "<br/><span style='color: blue; margin: 0px;'>남성: "
            #+ str(df.loc[(key, '남자'), '인구수']) + '</span>'
            + '</b></div>'
        )).add_to(m)
m

In [ ]:
# %%
try:
    conn = mysql.connector.connect(
        host = "database-1.cneecum0ieie.ap-northeast-2.rds.amazonaws.com",
        port = 3306,
        user = "eda",
        password = "eda",
        database = "eda"
    )
    cursor = conn.cursor()

    cursor = conn.cursor(buffered=True)
   #cursor.execute("select city, year, pop_sum from population where city!='전국' and city!='세종특별자치시'group by city, year;")
    cursor.execute("select city, year, pop_sum from population where (city='서울특별시' or city='경기도') and year between 2012 and 2022 group by city, year")
    population_result = cursor.fetchall()

    df_pop = pd.DataFrame(population_result)
   
    conn.close()
    
except  Exception as e:
    print(e)
    conn.close()

In [ ]:
#%%
df_pop
df_pop.columns = ["행정구역별", "년도", "인구수"]

#for i, value in df_pop["행정구역별"].items():
#    df_pop[i,"stand"] = df_pop.loc[i,"인구수"] - df_pop.loc[0,"인구수"]
   # print(df_pop.loc[i,"행정구역별"])
df_pop.set_index("년도", inplace=True)
#df_pop
#df_1=df_pop.groupby(['행정구역별','년도']).mean()
df_pop

#for i,value in df_1.iterrows():
#    print(df_1.loc[i,'인구수'])

In [ ]:
#%%
#lat_list = ['37.540705','35.198362','35.798838',
#            '37.469221','35.126033','36.321655',
#            '35.519301','37.567167','37.555837',
#            '36.628503','36.557229','35.716705',
#            '34.819400','36.248647','35.259787',
#            '33.364805']
#
#long_list=['126.956764','129.053922','128.583052',
#           '126.573234','126.831302','127.378953',
#           '129.239078','127.190292','128.209315'
#           ,'127.929344','126.779757','127.144185',
#           '126.893113','128.664734','128.664734',
#           '126.542671']
lat_list = ['37.540705','37.567167']

long_list=['126.956764','127.190292']

#df_pop.columns = ["행정구역별", "년도", "인구수"]
sejong =['36.5040736','127.249455']
df_pop["lat"] = lat_list*11
df_pop["long"] = long_list*11
df_pop["lat"] = df_pop["lat"].astype(float)
df_pop["long"] = df_pop["long"].astype(float)
df_pop

In [ ]:
#%%
import pandas as pd
import plotly.express as px
import plotly.graph_objects as go

fig = px.scatter_mapbox(df_pop, lat='lat', lon='long', size_max=200,
                        color='행정구역별',
                        size=df_pop["인구수"],  #CCTV 건수를 점의 크기에 반영color_continuous_scale=px.colors.cyclical.IceFire,
                        color_continuous_scale=px.colors.cyclical.IceFire,
                        hover_name='행정구역별',
                        animation_frame = df_pop.index, 
                        zoom=5, center = {'lat': 37.57, 'lon': 127.0},
                        width=950, height=750,
                        text =df_pop['행정구역별'].to_numpy()
                        
                        )

fig.update_layout(
   #mapbox_style='white-bg',
   mapbox_style='open-street-map',
    mapbox_layers=[
 {
 'below': 'traces',
 'sourcetype': 'geojson',

 #'sourceattribution': 'stamen',
 'type': 'line',
 'source': '../Data/TL_SCCO_CTPRVN.json'
 }
  ])
fig.update_layout(margin={'r':0,'t':0,'l':0,'b':0})

fig.show()

In [ ]:
#%%

In [ ]:
# %%
df_pop.info()

In [ ]:
# %%
df_pop.loc[[i],["인구수"]]*100

In [ ]:
# %%